<launch>
  <!-- BEGIN ROBOT OMNI -->
  <arg name="robot_name" default="robot_omni"/>
  
  <group ns="$(arg robot_name)" >
      <!-- Load the URDF into the ROS Parameter Server -->
      <param name="robot_description" command="$(find xacro)/xacro '$(find omni_robot_description)/robots/omni_robot_v2.urdf.xacro'" />
  
      <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
      <node name="urdf_spawner0" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  		args="-urdf -model omni_robot0 -param robot_description -z 0.2"/>

      <!-- ros_control launch file -->
      <include file="$(find omni_robot_control)/launch/omni_robot_control.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
      </include>
  </group>

</launch>
